/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * pacaembu:
 *   - http://typekit.com/eulas/0000000000000000775f26fe
 *   - http://typekit.com/eulas/0000000000000000775f2700
 *   - http://typekit.com/eulas/0000000000000000775f26ff
 *   - http://typekit.com/eulas/0000000000000000775f2707
 *   - http://typekit.com/eulas/0000000000000000775f2701
 *   - http://typekit.com/eulas/0000000000000000775f2703
 *   - http://typekit.com/eulas/0000000000000000775f2730
 *
 * © 2009-2026 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2026-05-21 15:33:58 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=qny8uti&ht=tk&f=62268.62269.62270.62271.62272.62273.62280&a=1242651&app=typekit&e=css");

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/b00097/0000000000000000775f26fe/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/b00097/0000000000000000775f26fe/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("woff"),
        url("https://use.typekit.net/af/b00097/0000000000000000775f26fe/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/e205f1/0000000000000000775f2700/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/e205f1/0000000000000000775f2700/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
            format("woff"),
        url("https://use.typekit.net/af/e205f1/0000000000000000775f2700/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/217822/0000000000000000775f26ff/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/217822/0000000000000000775f26ff/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("woff"),
        url("https://use.typekit.net/af/217822/0000000000000000775f26ff/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/8865fc/0000000000000000775f2707/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/8865fc/0000000000000000775f2707/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/8865fc/0000000000000000775f2707/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/698db5/0000000000000000775f2701/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/698db5/0000000000000000775f2701/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3")
            format("woff"),
        url("https://use.typekit.net/af/698db5/0000000000000000775f2701/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n2&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/f24f94/0000000000000000775f2703/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/f24f94/0000000000000000775f2703/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/f24f94/0000000000000000775f2703/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "pacaembu";
    src:
        url("https://use.typekit.net/af/c12a37/0000000000000000775f2730/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/c12a37/0000000000000000775f2730/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
            format("woff"),
        url("https://use.typekit.net/af/c12a37/0000000000000000775f2730/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n8&v=3")
            format("opentype");
    font-display: auto;
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
}

.tk-pacaembu {
    font-family: "pacaembu", sans-serif;
}
