<Layouts.flash_group flash={@flash} />
<main class="min-h-dvh bg-dark-blue text-white">
  <.hero />
  <.about_section />
  <.footer />
</main>

<script src="https://accounts.google.com/gsi/client" async />
