<!DOCTYPE html>
<html lang="no">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title default="Fotball-VM 2026" suffix=" · Sogn tipping" phx-no-format>{assigns[:page_title]}</.live_title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>⚽️</text></svg>"
    />
    <link phx-track-static rel="stylesheet" href={~p"/styles/fonts.css"} />
    <link phx-track-static rel="stylesheet" href={~p"/assets/css/app.css"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <meta property="og:title" content="Fotball-VM 2026: Tipp på kamper mot kollegaer" />
    <meta
      property="og:description"
      content="På tide å bevise at du vet mer om internasjonal fotball enn de du jobber med."
    />
    <meta property="og:image" content={url(~p"/images/og-banner.png")} />
    <meta property="og:locale" content="no_NO" />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/js/app.js"}>
    </script>
    {Application.get_env(:live_debugger, :live_debugger_tags)}
    <script>
      (() => {
        const setTheme = (theme) => {
          if (theme === "system") {
            localStorage.removeItem("phx:theme");
            document.documentElement.removeAttribute("data-theme");
          } else {
            localStorage.setItem("phx:theme", theme);
            document.documentElement.setAttribute("data-theme", theme);
          }
        };
        if (!document.documentElement.hasAttribute("data-theme")) {
          setTheme(localStorage.getItem("phx:theme") || "system");
        }
        window.addEventListener("storage", (e) => e.key === "phx:theme" && setTheme(e.newValue || "system"));

        window.addEventListener("phx:set-theme", (e) => setTheme(e.target.dataset.phxTheme));
      })();
    </script>
  </head>
  <body class="bg-dark-blue min-h-dvh">
    {@inner_content}
  </body>
</html>
